       <div class='section'>
           <div id='intro'>
<!--
          <i class="large material-icons">perm_identity</i>
          <i class="large material-icons">perm_identity</i>
          <i class="large material-icons">perm_identity</i>
-->
    <!--CONTACT BUTTON-->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">message</i>
    </a>
    <ul>
      <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></i></a></li>
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
      <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
      <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
    </ul>
  </div>

    <!--END-->

<!--SCROLL BUTTON-->

<!--<a class="center-align btn-floating btn-large waves-effect waves-light yellow darken-2 hide-on-med-and-down" id="scroll-to-animation"><i class="mdi-navigation-expand-more"></i></a>-->
    <!--END-->

    <h4 class="grey-text text-lighten-5 center-align">WE ARE</h4>
  <h1 class="grey-text text-lighten-5 center-align">SQUAD CREATIVE.</h1>
  <h2 class="grey-text text-lighten-5 center-align">Your partner in growth.</h2>
<!--Contact Form-->

<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" type="text" class="validate">
          <label for="icon_prefix">First Name</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
      </div>
    </form>
  </div>
    <!--Contact Form END-->
<br><br>
    <h4 class="grey-text text-lighten-5 center-align"><span class="rotate">Simple, Quick, Tailored</span> Web development for all of your business needs.</h4>
</div>
</div>
<!--Intro section END-->

       <div class='section'>
      <div id="what">

<!--WHAT section STARTS-->
    <div class='section-title'>
  <h1 class="grey-text text-lighten-5 center-align">WHAT WE DO</h1>
                    <div class="line"></div>
                    <div class="line"></div>
    </div>
            <div class="space"></div>
            <div class="row center-align">
                <div class="col s4 do">
                <i class="large material-icons">desktop_mac</i>
                    <h4><strong>Web Development</strong></h4>
                    <p class='left-align'>We craft effectively. All of our designs begin with the user in mind. We focus on usability and mobile responsiveness because we know that’s what brings customers to your door.</p>
                </div>

                <div class="col s4 do">
                    <i class="large material-icons">palette</i>
                    <h4><strong>Logo and Branding</strong></h4>
                     <p class='left-align'>We go further than your average firm. We listen to your story and bring it to life. We'll craft your logo, literature, and website to build an expereince that connectes your vision. </p>
                </div>

                <div class="col s4 do">
                    <i class="large material-icons">trending_up</i>
                    <h4><strong>Marketing</strong></h4>
                     <p class='left-align'>Need to improve your online presence? We’ll manage your social media streams and push you to the top of Google search results.</p>
                </div>

            </div>
            </div>
           </div>

    <!--WHAT section END-->


<!--Your section STARTS-->

       <div class='section'>
           <div id="your">
    <h1 class="grey-text text-lighten-5 center-align your-title">Your Squ@d</h1>
    <h5 class="center-align your-title cyan-text text-lighten-4
">Like you, we are a team of doers.</h1>

<div class="row center-align">
  <div class="col m4"><h3>WALID ASMAR</h3>

  <p class="headshot"><%= image_tag "wa.jpg", class: "img-responsive", class: "img-circle", class: 'z-depth-2', width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical </p>
  <a href="https://twitter.com/Coding_Pa_Ti" class="twitter"><i class="fa fa-twitter"></i>
</a>
  </div>
  <div class="col m4"><h3>JESSI THOMAS</h3>

  <p class="headshot"><%= image_tag "jt.jpg", class: "img-responsive", class: "img-circle", class: 'z-depth-2', width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical </p>
  <a href="https://twitter.com/JessayyyyThomas" class="twitter"><i class="fa fa-twitter"></i></a>
</div>
  <div class="col m4"><h3>ASHANTE TIMOLL</h3>
  <p class="headshot"><%= image_tag "at.jpg", class: "img-responsive", class: "img-circle", class: 'z-depth-2', width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical </p>
  <a href="https://twitter.com/CoachTimoll" class="twitter"><i class="fa fa-twitter"></i></a>
</div>
</div>
           </div>
</div>
        <!--YOUR section END-->

       <div class='section'>
           <div id="section4">

        </div>
        </div>


