<div class="intro z-depth-1">
<!--
          <i class="large material-icons">perm_identity</i>
          <i class="large material-icons">perm_identity</i>
          <i class="large material-icons">perm_identity</i>
-->


  <h1 class="grey-text text-lighten-5 left-align">SQUAD CREATIVE</h1>
  <h2 class="grey-text text-lighten-5 left-align">Your partner<br>in growth.</h2>
    <h3 class="grey-text text-lighten-5 left-align">Simple. &nbsp;  Quick. &nbsp; Tailored.</h3>
    <a class="right below btn-floating btn-large waves-effect waves-light yellow darken-2 hide-on-med-and-down" id="scroll-to-animation"><i class="mdi-navigation-expand-more"></i></a>
</div>

<div class='why'>
    <h1 class="center-align your-title">Your Squ@d</h1>
    <br>

<div class="row">
  <div class="col-md-4">WALID ASMAR

  <p class="headshot"><%= image_tag "wa.jpg", class: "img-responsive", class: "img-circle", width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  <a href="https://twitter.com/Coding_Pa_Ti" class="twitter-follow-button" data-show-count="false">Follow @Coding_Pa_Ti</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="col-md-4">JESSI THOMAS

  <p class="headshot"><%= image_tag "jt.jpg", class: "img-responsive", class: "img-circle",width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  <a href="https://twitter.com/JessayyyyThomas" class="twitter-follow-button" data-show-count="false">Follow @JessayyyyThomas</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
  <div class="col-md-4">ASHANTE TIMOLL
  <p class="headshot"><%= image_tag "at.jpg", class: "img-responsive", class: "img-circle",width: "100px" %></p>
  <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
  <a href="https://twitter.com/CoachTimoll" class="twitter-follow-button" data-show-count="false">Follow @CoachTimoll</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>
</div>




</div>

<div class='do'>
    <h1 class="center-align">Web Development</h1>

    <div class="row">
      <div class="col s6 service">
          <i class="fa fa-home"></i>
                    <h4><strong>Free Inspections</strong></h4>
                    <p>Haven't inspected your roof lately? We provide free inspections to provide you peace of mind.</p>
                </div>
              <div class="col s6 service">

 <i class="fa fa-home"></i>
                    <h4><strong>Free Inspections</strong></h4>
                    <p>Haven't inspected your roof lately? We provide free inspections to provide you peace of mind.</p>
                </div></div>
    </div>
    </div>




